<template name="Healthcare">
  <div class="container text-center title">
  	<h1>Healthcare</h1>
  </div>
  <div class="container text-center">
  		<h2>Below are a few helpful resources about <strong>Healthcare</strong>. If you are having trouble finding the correct resource suited for your specific situation, we recommend returning to the <a href="/">Home</a> screen and clicking on the "Get Started" button.</h2>
  	</div>
  	<div class="container text-center">
  	<div class="row links">
	  		<div class="col-md-12"><a href="http://store.samhsa.gov/product/Opioid-Overdose-Prevention-Toolkit-Updated-2014/SMA14-4742" target="_blank"><h3>Opioid Overdose Prevention Toolkit</h3></a>
	  		<p>Facts for Community Members, Essentials for First Responders, Safety Advice for Patients, and Resources for Overdose Survivors and Family Members</p></div>
	  	</div>
	  	<div class="row">
		  	<div class="col-md-4">
				<a href="http://healthfinder.gov/FindServices/" target="_blank"><h3>Healthfinder.gov Services</h3></a>
				<p>Find people and places offering services and support (Doctors, Health Care Providers, etc.) by state and zip code.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="https://www.healthcare.gov/apply-and-enroll/health-insurance-plans-estimator-overview/" target="_blank"><h3>Healthcare.gov Insurance Programs</h3></a>
				<p>Information about applying for and enrolling in a health coverage program. Find resources for Marketplace health insurance plans.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="https://findtreatment.samhsa.gov/" target="_blank"><h3>SAMHSA's Treatment Locator</h3></a>
				<p>1-800-662-HELP (4357) <br>Find treatment facilities near you for substance abuse and addiction or mental health problems.</p>
		  	</div>
	  	</div>
	  	
  	</div>
</template>
