<template name="Employment">
  <div class="container text-center title">
  	<h1>Employment</h1>
  </div>
  <div class="container text-center">
  		<h2>Below are a few helpful resources about <strong>Employment</strong>. If you are having trouble finding the correct resource suited for your specific situation, we recommend returning to the <a href="/">Home</a> screen and clicking on the "Get Started" button.</h2>
  	</div>

  	<div class="container text-center">
	  	<div class="row links">
		  	<div class="col-md-6">
				<a href="http://www.benefits.va.gov/vocrehab/edu_voc_counseling.asp" target="_blank"><h3>Resources for Veterans</h3></a>
				<p>The United States Department of Veteran Affairs provides an Education and Career Counseling program to help Veterans get personalized counseling help for their careers and goals.</p>
		  	</div>
		  	<div class="col-md-6">
				<a href="http://www.ajb.dni.us/" target="_blank"><h3>Department of Labor Job Bank Website and Resources</h3></a>
				<p>A collection of Job Boards filtered by state. You can search and apply for job openings as well as post your resume for employers' consideration.</p>
		  	</div>
	  	</div>
  	</div>
</template>
