<template name="Housing">
  <div class="container text-center title">
  	<h1>Housing</h1>
  </div>
  <div class="container text-center">
  		<h2>Below are a few helpful resources about <strong>Housing</strong>. If you are having trouble finding the correct resource suited for your specific situation, we recommend returning to the <a href="/">Home</a> screen and clicking on the "Get Started" button.</h2>
  	</div>
  	<div class="container text-center">
	  	<div class="row links">
		  	<div class="col-md-4">
				<a href="http://www.homelessshelterdirectory.org/" target="_blank"><h3>Homeless Shelter Directory by state</h3></a>
				<p>Find Homeless Shelters and Holmeless Service Organizations by city and state.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="https://www.socialserve.com/" target="_blank"><h3>Social Service Housing Locator Assistance</h3></a>
				<p>1-877-428-8844 <br>Mon-Fri 9am-8pm <br>Find affordable housing to rent or buy in your area.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="http://www.oxfordhouse.org/locate_houses.php" target="_blank"><h3>Oxford House Vacancy Listing</h3></a>
				<p>An Oxford House is a self-run recovery house for people recovering from alcoholism and drug addiction. On this site, you can find Oxford Houses with open rooms as well as the contact information for the house.</p>
		  	</div>
	  	</div>
  	</div>
</template>
