<template name="Recovery">
  <div class="container text-center title">
  	<h1>Recovery</h1>
  </div>
  <div class="container text-center">
  		<h2>Below are a few helpful resources about the <strong>Recovery</strong> process. If you are having trouble finding the correct resource suited for your specific situation, we recommend returning to the <a href="/">Home</a> screen and clicking on the "Get Started" button.</h2>
  	</div>
  	<div class="container text-center">
  	<div class="row links">
	  		<div class="col-md-12 opi"><a href="http://store.samhsa.gov/product/Opioid-Overdose-Prevention-Toolkit-Updated-2014/SMA14-4742" target="_blank"><h3>Opioid Overdose Prevention Toolkit</h3></a>
	  		<p>Facts for Community Members, Essentials for First Responders, Safety Advice for Patients, and Resources for Overdose Survivors and Family Members</p>
	  		</div>
	  	</div>
	  	<div class="row">
		  	<div class="col-md-4">
				<a href="https://ncadd.org/programs-a-services/information-a-referral" target="_blank"><h3>NCADD's Information and Referral Services</h3></a>
				<p>1-800-622-2255 <br>Confidential, one-on-one assessments, either on the phone or in-person, by a trained professional who will match clients' needs with the appropriate services in the community.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="https://ncadd.org/index.php/recovery-support/mutual-aid-support" target="_blank"><h3>NCADD's List of Mutual Aid Groups</h3></a>
				<p>A list of support (self-help) groups for people recovering from alcoholism and drug addiction.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="https://findtreatment.samhsa.gov/" target="_blank"><h3>SAMHSA's Treatment Locator</h3></a>
				<p>1-800-662-HELP (4357) <br>Find treatment facilities near you for substance abuse and addiction or mental health problems.</p>
		  	</div>
	  	</div>
	  	<div class="row ">
		  	<div class="col-md-4">
				<a href="http://www.samhsa.gov/safe-schools-healthy-students/resources/suicide-prevention" target="_blank"><h3>SAMHSA's Suicide Prevention Lifeline</h3></a>
				<p>1-800-273- TALK (8255) <br>Call if you're feeling suicidal and need someone to talk to.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="http://www.facesandvoicesofrecovery.org/guide/support/" target="_blank"><h3>Faces and Voices of Recovery Mutual Aid Recovery Resources</h3></a>
				<p>Information about the many varieties of mutual aid groups that help people sustain their recovery from alcoholism and drug addiction.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="http://csgjusticecenter.org/reentry/reentry-services-directory/" target="_blank"><h3>The Council of State Governments Justice Center Re-Entry Service Directory</h3></a>
				<p>A list of organizations and service providers who specialize in different re-entry needs such as housing, employment, and family reunification.</p>
		  	</div>
	  	</div>
	  	<div class="row ">
		  	<div class="col-md-4">
				<a href="http://nrccfi.camden.rutgers.edu/about-us/" target="_blank"><h3>The National Resource Center on Children and Families of the Incarcerated</h3></a>
				<p>Helpful resources for the needs of the children and loved ones of the incarcerated.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="http://www.doc.state.nc.us/Publications/2010handbook.pdf" target="_blank"><h3>Handbook for Family and Friends of Inmates</h3></a>
				<p>A guide for people who want to learn more about the needs of a loved one that has been in prison.</p>
		  	</div>
		  	<div class="col-md-4">
				<a href="http://store.samhsa.gov/resources/term/Recovery-Resource-Library" target="_blank"><h3>SAMHSA's Recovery Resource Library</h3></a>
				<p>A library of helpful resources, that can be filtered by a variety of subjects, for re-entry into your community. </p>
		  	</div>
	  	</div>
	  	
  	</div>
</template>
